@media all and (max-width:2000px) {
    #ssCont{
        width: 200%;
        height: 398px;
        left: -70%;

    }

}
@media all and (max-width:1600px) {
    /*body{
        border: 1px solid green;
    }*/
    #ssCont{
        width: 248%;
        height: 298px;
        left: -99.5%;
    }

}
@media all and (max-width:900px) {
    /*body{
        border: 1px solid red;
    }*/

}
#ssCont{
    text-align: left;
    margin: 100px auto 50px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.4);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.scalingFontSize{
    font-size: 1vw;
}
/* Slideshow */
.slideshow {
    margin:-2px;
    padding: 0;
    position: relative;
    width: 13.25%;
    height: 100.5%;
}
.slideshow > div.imgCont {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.imgCont {
    height: 100.5%; width: 100%;
}
.imgCont img{
    height: 100%; width: 100%;
}
#slideshow3 div.imgCont img{
    height: 112.5%; width: 112%;
    bottom: 6.25%; position: relative;
}
#slideshow4{
    left: 1.60%;
}
.blackOverlay{
    position: absolute;
    height: 100%;
    width:100%;
    background-color: #464646;
    opacity: 0.75;
    z-index: 10;
    top: 0;
    left: 100%;
}
#slideshowBorder{
    position: absolute;
    height: 111%;
    width: 14.55%;
    border: 10px solid #363636;
    z-index: 10;
    left: 52.75%;
    bottom: -7.5%;
    -webkit-box-shadow: 0 0 15px 0 rgba(38,38,38,1);
    -moz-box-shadow: 0 0 15px 0 rgba(38,38,38,1);
    box-shadow: 0 0 15px 0 rgba(38,38,38,1);
}

/* Rush Button */
#rushBtn{
    border-bottom: 4px solid #DE2B2A;
    cursor: pointer;
    background-color: #F7302F;
    color: white;
    border-radius: 20px;
    font-size: 32px;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: Adam, sans-serif;
    position: relative;
    top: 50px;

}
#rushBtn:hover{
    border: none;
    top: 54px;
}
#rushBtn:active{
    -webkit-box-shadow: inset 0 4px 5px #9E1F1E;
    -moz-box-shadow: inset 0 4px 5px #9E1F1E;
    box-shadow: inset 0 4px 5px  #9E1F1E;
}