strong{
    color: #DB2B2A;
    font-weight:normal;
}
@media only screen and (max-width: 899px) {
    /*#rushflier {
        float: none;
        display: block;
        width: 80%;
        height: 90%;
        border: 1px solid red;
    }*/
}
.circShadow{
    -webkit-box-shadow: 0 5px 10px 0 #464646;
    -moz-box-shadow: 0 5px 10px 0 #464646;
    box-shadow: 0 5px 10px 0 #464646;
}