#rushflierimage {
    width: 80%;
    height: 300px;
    margin: 20px auto 0 auto;
}
strong{
    color: #DB2B2A;
    font-weight:normal;
}
.circShadow{
    -webkit-box-shadow: 0 5px 10px 0 #464646;
    -moz-box-shadow: 0 5px 10px 0 #464646;
    box-shadow: 0 5px 10px 0 #464646;
}
.redBorder{
    border-top: 2px solid #F7302F;
    border-bottom: 2px solid #F7302F;
    border-radius: 5px;

}
.parMargPad{
    margin: 20px;
    padding: 15px;
}